<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/blog/css/style_xx.css" />
    <title>Blog_22 Demo</title>
  </head>
  <body>
     <div style="text-align: center; margin-top: 2rem">
      <h2><%= title %></h2>
      <h4 style="margin-top: 0.5rem"><%= name %>, <%= id %></h4>
    </div>
    <section class="blogs">
      <div class="section-title">
        <h2>latest blogs using breakpoints</h2>
      </div>
      <div class="blogs-center">
        <article class="blog">
          <img src="/blog/images/photo-1.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-mug-saucer"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img src="/blog/images/photo-2.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-globe"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img src="/blog/images/photo-3.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-mug-saucer"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img src="/blog/images/photo-4.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-mug-saucer"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img src="/blog/images/photo-5.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-mug-saucer"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
        <article class="blog">
          <img src="/blog/images/photo-6.jpg" alt="" class="img" />
          <div class="blog-content">
            <span> lifestyle <i class="fa-solid fa-globe"></i> </span>
            <h3>seven reasons why coffee is awesome</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
              consequatur ut natus doloribus numquam doloremque, asperiores
              odio, aut atque dolores placeat ad reiciendis deserunt ipsam!
            </p>
            <a href="#">read more</a>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
